<%var op = posts[0];%>
<!DOCTYPE html>
<html>
<head>
<title>No. <%=op.p_post_id%></title>
<link rel="stylesheet" type="text/css" href="stylesheets/invariant.css">
<link rel="stylesheet" type="text/css" href="stylesheets/thread.css">
<% include ../partials/header.ejs %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>

<hr>
<div id="selectBar">
	[<a href="/catalog">Catalog</a>]
	[<a>Archive</a>]
	[<a>Bottom</a>]
	[<a>Update</a>]
	<span style="float: right">
		<b>posts: </b><%=op.t_post_num%>
		<b>users: </b><%=op.t_user_num%>
	</span>
</div>
<hr>

<div id="newPostSection" style="background-color: orange; width: 200px;">
	<form id="newPostForm" action="/add-post" method="POST">
		<input name="pThreadId" type="text" value="<%=op.p_post_id%>" style="display:none">
		<table>
			<tr><td>this will be dragable later</td></tr>
			<tr><td>Reply to Thread No.<%=op.p_post_id%></td></tr>
			<!--<tr><td><input name="pUsername" type="text" placeholder="Username Placeholder"></td></tr>-->
			<tr><td><textarea name="pText" form="newPostForm" placeholder="Comment"></textarea></td></tr>
			<tr><td>recaptcha placeholder<td></tr>
			<tr><td><input value="Post" type="submit"></td></tr>
		</table>
	</form>
</div>

<div class="post" id="opPost" style="border: 2px solid black">
	<b><%=op.p_username%></b> 
	No.<%=op.p_post_id%> 
	<%=op.p_timestamp%> 
	<b>R: <%=op.t_post_num%></b> 
	<b>U: <%=op.t_user_num%></b><br>
	<%=op.p_username%>
	<%=op.p_text%>
</div>

<%posts.slice(1).forEach((post) => {%>
	<div class="post">
		<%=post.p_username%>
		No. <%=post.p_post_id%>
		<%=post.p_timestamp%>
		<%=post.p_text%>
	</div>
<%}); %>


</body>
</html>
