<%
var op = posts[0];
var role = role;
%>
<!DOCTYPE html>
<html>
<head>
<title>No. <%=op.p_post_id%> in <%=op.t_forum%></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/thread.css">
<% include ../partials/header.ejs %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
	<% if(session.role == ('a' || 'm')) { %>
		<% include ../partials/adminNav.ejs %>
	<% } else { %>
		<%include ../partials/nav.ejs%>
	<%} %>
<hr>
<div id="mainContainer">

	<div id="newPostSection"">
		<form id="newPostForm" action="/add-post" method="POST">
			<input name="pThreadId" type="text" value="<%=op.p_post_id%>" style="display:none">
			<table>
				<tr id="newPostSectionHeader">
					<td>
						Reply to Thread No.<%=op.p_post_id%>
						<button type="button" style="float:right" onclick="toggle_new_reply()">x</button>
					</td>
				</tr>
				<tr>
					<td>
					<%if(username != ""){%>
						Posting as: <span class="username"><%=username%></span>
					<%} else{%>
						<a href="/">Log in to Post</a>
					<%}%>
					</td>
				</tr>
				<tr><td><textarea id="userTextarea" name="pText" form="newPostForm" placeholder="Comment"></textarea></td></tr>
				<%//actual data-sitekey: 6LekFLEZAAAAALJ7jQOKGmsHaKJqDbFEARsaMQV6
				//local data-sitekey: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI%>
				<tr><td><div class="g-recaptcha" data-theme="light" data-sitekey="6LekFLEZAAAAALJ7jQOKGmsHaKJqDbFEARsaMQV6"></div><td></tr>
				<%if(username != ""){%>
					<tr><td><input class="forumButtons" style="float:right" value="Post" type="submit"></td></tr>
				<%}%>
			</table>
		</form>
		<!--<form action="/back-forum" method="POST" >
		<tr><td><input value="Back" type="submit"></td></tr>-->
	</form>
	</div>

	<div id="top" class="selectBar">
		[<a href="/catalog">Catalog</a>]
		[<a href="#bottom">Bottom</a>]
		[<a href="javascript:location.reload()">Update</a>]
		<!--[<input type="checkbox">Auto]-->
		<span style="float: right">
			<b>posts: </b><%=op.t_post_num%>
			<!--<b>users: </b><%=//op.t_user_num%>-->
		</span>
	</div>
	<hr>

	<%let opPost = true;%>
	<%let i = 0;%>
	<%while(i<posts.length){%>
		<!-- if opPost, get different style and draw subject-->
		<%if(opPost){%>
			<div class="opPostBox">
			<div id="p<%=posts[i].p_post_id%>" class="opPost">
				<span class="subject"><%=posts[i].t_subject%></span>
			<%opPost = false;%>

		<%} else { %>
			<div id="p<%=posts[i].p_post_id%>" class="postBox">
			>>
			<div class="post">

		<%}%>
				<%if(block.includes(posts[i].p_username)){%>
					<span class="username">BLOCKED USER</span>
				<%} else { %>
					<span class="username"><%=posts[i].p_username%></span>
				<%}%>
				<img src="https://countryflags.io/<%=posts[i].p_country_code%>/flat/16.png">
				<%=posts[i].p_timestamp%>
				<span class="hiddenLink" onclick="ready_new_reply(<%=posts[i].p_post_id%>)">No. <%=posts[i].p_post_id%></span>

				<!-- postMenu -->
				<span class ="postMenuContainer">
					<button class="postMenuBtn" onclick="toggle_post_menu(<%=posts[i].p_post_id%>)">v</button>
					<div class="postMenu" id="postMenu<%=posts[i].p_post_id%>">
						<a class="postMenuLink" onclick="hide_post('<%=posts[i].p_post_id%>')">hide post</a>
						<% if(role == null) { %>
							<a class="postMenuLink" href="/">log in to report</a>
						<% } else { %>
							<a class="postMenuLink" onclick="window.open('/report-post/<%=posts[i].p_post_id%>', 'reporting <%=posts[i].p_post_id%>', 'width=600px, height=600px, left=200px, top=200px')">report post</a>
						<%}%>
						<% if(role == 'm' || role == 'a') { %>
							<a href="/admin" class="postMenuLink">admin menu</a>
						<% } %>
					</div>
				</span>

		<%let editedPText = posts[i].p_text.replace(/((?<=>>)[0-9]+)|>>([0-9]+)/g, "<a href='#p" + "$2" + "'>$&</a>");%>
		<%let hasReplies = false;%>
		<%//console.log("rendering:" + posts[i].p_post_id);%>
		<% // list replies
		if(posts[i].parent_id != null){%>
			<a class="reply" href="#p<%=posts[i].reply_id%>">>><%=posts[i].reply_id%></a>
		<%}%>
		<%//impossible for last post to have a reply, skip lookahead (prevents out of bounds index)%>
		<%while(i != posts.length-1 &&  posts[i].p_post_id == posts[i+1].p_post_id){%>
			<a class="reply" href="#p<%=posts[i+1].reply_id%>">>><%=posts[i+1].reply_id%></a>
			<%//console.log(posts[i+1].parent_id + " has a reply from: " + posts[i+1].reply_id);%>
			<%i++;%>
		<%}%>
				<br>
				<%if(block.includes(posts[i].p_username)){%>
					<span class="postText">[Message has been blocked because you have user: "<%=posts[i].p_username%>" blocked.]</span>
				<%} else { %>
					<span class="postText"><%-editedPText%></span>
				<%}%>
			</div>
		</div>
		<%i++;%>
<%}%>
<%// add missing one%>




	<div style="text-align: center;">
		[<a onclick="toggle_new_reply()">Post a Reply</a>]
	</div>

	<div id="bottom" class="selectBar">
		[<a href="/catalog">Catalog</a>]
		[<a href="#top">Top</a>]
		[<a href="javascript:location.reload()">Update</a>]
		<!--[<input type="checkbox">Auto]-->
		<span style="float: right">
			<b>posts: </b><%=op.t_post_num%>
			<!--<b>users: </b><%=op.t_user_num%>-->
		</span>
	</div>
	<hr>

</div>
</body>
<script>

function toggle_new_reply(){
	if($("#newPostSection").css("display") == "none")
		$("#newPostSection").css("display", "block");
	else{
		$("#newPostSection").css("display","none");
		// empty contents
		$("#userTextarea").val("");
	}
}
function ready_new_reply(newReplyId){
	if($("#newPostSection").css("display") == "none")
		$("#newPostSection").css("display", "block");
	//grab id for replying
	$("#userTextarea").val($("#userTextarea").val() + ">>" + newReplyId + "\n");
	//scroll down to added text if needed
	$("#userTextarea").scrollTop(200000);
}

function toggle_post_menu(id){
	if($("#postMenu" + id).css("display") == "none"){
		$(".postMenu").css("display","none");
		$("#postMenu" + id).css("display","block");
	} else {
		$("#postMenu" + id).css("display","none");
	}
}

function show_preview_reply(id){
	$("#pre"+id).css("display", "relative");
}

function hide_preview_reply(id){
	$("#pre"+id).css("display", "none");
}


// hide postMenu if click elsewhere while its up
$("body").click((event)=>{
	if(!$(event.target).hasClass("postMenuBtn") && !$(event.target).hasClass("postMenuLink")){
		$(".postMenu").css("display","none");
	}
});


// makes newPostSection draggable:
drag_element(document.getElementById("newPostSection"));
function drag_element(elmnt) {
	// divX/Y and mouseX/Y
	var dX = 0, dY = 0, mX = 0, mY = 0;
	$("#newPostSectionHeader").mousedown((e)=>{
		mX = e.clientX;
		mY = e.clientY;
		document.onmouseup = ()=>{
			// stop moving when mouse button is released:
			document.onmouseup = null;
			document.onmousemove = null;
		};
		document.onmousemove = (e)=>{
			// calculate the new cursor position:
			dX = mX - e.clientX;
			dY = mY - e.clientY;
			mX = e.clientX;
			mY = e.clientY;
			// set the element's new position:
			elmnt.style.top = (elmnt.offsetTop - dY) + "px";
			elmnt.style.left = (elmnt.offsetLeft - dX) + "px";
		};
	});
}

function hide_post(postId){
	console.log(postId);
	$("#p"+postId).css("display", "none");
}
</script>
</html>
