<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/catalog.css">
  <style>
  .post {
    display: inline-block;
    border-style: solid;
  }
  .post-container {
    text-align: center;
  }
  body {
    background-color: lightblue;
  }
  
      </style></style>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% if(session.admin) { %>
    <% include ../partials/adminNav.ejs %>
  <% } else { %>
    <%include ../partials/nav.ejs%>
  <%} %>
 
  <div class="post-container">

</div>
<div class="post-container">
  <div class ='post'>Recent post will appear here </div>
  <%rows.forEach((r) => {%>	
		<a href="/thread/<%=r.p_post_id%>">
			<div class="threadPreview">
				<b><%=r.t_subject%></b>: 
				<%=r.p_text%>
				<span style="float:right">
					by: <b><%=r.p_username%></b>
					<b>R:</b><%=r.t_post_num%>
					<b>U:</b><%=r.t_user_num%>
				</span>
			</div>
		</a>
	<%});%>
  </div>
</body>
</html>
